@charset "utf-8";
/*swf文件上传样式开始*/
.fileDiv {
	height:21px;
	width:200px;
	border:1px dashed #CCCCCC;
	position:relative;
	background-color: #FCD6FA;
	margin: 2px;
}
.filesDiv {
	width:206px;
	background-color: #A5B7FE;
	position:relative;
	float: left;
	margin-top: 20px;
	margin-left: 30px;
	border: 1px solid #CCCCCC;
}
.swfUpLoad {
	border: 1px solid #0099FF;
	width: 280px;
}
.fileDivBg{
	height:21px;
	width:0px;
	background-color: #D3F2D0;
}
.fileDivInfo{
	height:12px;
	width:175px;
	position:absolute;
	top:0;
	padding:3px;
	overflow:hidden;
}
a.fileCancel{
	position:absolute;
	top:5px;
	right:5px;
	height:14px;
	width:14px;
	background-image: url(../js/swfupload/cancelbutton.gif);
	background-repeat: no-repeat;
	background-position: -14px 0px;
}
a.fileCancel:hover {
	background-position: 0px 0px;
}
a.download{
	position:absolute;
	top:5px;
	right:5px;
	height:14px;
	width:14px;
	background-image: url(../js/swfupload/download.gif);
	background-repeat: no-repeat;
	background-position: -14px 0px;
}
a.download:hover {
	background-position: 0px 0px;
}
.roleTree {
	border: 1px solid #0099FF;
	width: 200px;
	float: left;
}
.selectUploadButton{
	border:1px solid #ccc;
	background-color:#254566;
	color:#fff;
	width:60px;
	height: 20px;
	padding:3px 5px 0 5px;
}
/*swf文件上传样式结束*/
/*虚拟下拉列表样式*/
.SelectMenu {	
	z-index: 1;
	background: #FFF;
	border: 1px solid #000;
	width:150px;
	position:absolute;
}

.SelectMenu ul {
	margin: 0;
	padding: 0;
}
.SelectMenu ul li {
	padding:3px 5px;
	height: 15px;
	width:150;
	line-height: 25px;
	border-bottom: 1px dashed #ccc;
	color: #666;
	cursor: pointer;
	change: expression(this.onmouseover = function() { this.style.background="#F2F5EF";},this.onmouseout =function(){this .style.background="";})
}
/*页面内提示信息样式*/
#inpageinfo{
	font-weight:normal;
	color:#ff4800; 
	margin-left:50px;
	background-color:#fee9e9;
	border:1px solid #fcb2b2;
	padding:1px 3px 0px 3px;}
/*系统弹出窗样式开始*/
.sysPopup {
	border: none;
	font-weight: normal;
	background-color: #FFF;
	color: #000;
	width: 100%;
	position: relative;
	left: 0;
	top: 24px;
}

.sysPopup ul {
	position: relative;
	float: left;
	left: 50%;
	margin-top: 12px;
}

.sysPopup .buttonlist li {
	position: relative;
	float: left;
	right: 50%;
}

.buttonlistquick li {
	position: relative;
	float: left;
	right: 50%;
}

.sysPopup p {
	padding-top: 15px;
}

.sysPopup .buttonlist li a {
	font-weight: normal;
}

/*系统弹出窗样式结束*/ /* 全局CSS定义开始 */
body {
	margin: 0;
	padding: 0;
	font-family: Verdana, Arial, "宋体";
	font-size: 12px;
	background: url(../../images/bg.gif) repeat-x;
	background-color: #e2e2e2;
}

div,form,ul,ol,li,span,p,img,a img {
	margin: 0;
	padding: 0;
	border: 0;
}


h1,h2,h3,h4,h5,h6 {
	margin: 0;
	padding: 0;
	font-size: 12px;
	font-weight: normal;
}

ul,ol,li {
	list-style: none;
}

table,td,th {
	padding: 0;
	font-size: 12px;
	font-weight: normal;
}

a {
	text-decoration: none;
	color: #0066ff;
}

/*清除链接虚框*/
a,area {
	blr: expression(this.onFocus = this.blur () )
}  /*for IE*/ /* 格式化所有文本输入框 */
.text_input {
	width: 150px;
	height: 15px;
}

/*定义布局尺寸*/
#layout {
	width: 1000px;
	min-height: 520px;
	margin: 5px auto;
}

/*登录页面*/
#login {
	width: 635px;
	height: 276px;
	margin: 180px auto;
	background: url(../images/login.png) no-repeat;
	color:#ffffff;
}

#login ul li {
	margin-top: 10px;
}
#login ul {
	margin-left: -10px;
}
#login form {
	margin: 120px auto 0px;
	width: 320px;
	position: relative;
}

#login_button {
	width: 97px;
	height: 35px;
	border: none;
	background: url(../images/login_button.png) no-repeat;
	position: absolute;
	top: 22px;
	right: 5px;
}

#login_button :hover {
	cursor: pointer;
}

#login select {
	width: 157px;
}

/*---------email list---------*/ /*定义各级标题样式*/
h2 {
	font-weight: bold;
	font-size: 14px;
	display: block;
	border-bottom: 2px solid #cdeb8b;
	padding: 8px 10px 3px;
}

h3 {
	line-height: 20px;
	background-color: #ECECEC;
	margin: 5px 10px 0;
	padding-left: 10px;
	clear: both;
}

/*定义主要页面区域mainpage格式*/
#mainpage {
	width: 100%;
	min-height: 520px;
	background-color: #FFFFFF;
}

/*定义各级明细号码外框样式*/
.detailcontainer {
	background-color: #e7fed5;
	border: 1px solid #cafba2;
	margin: 5px auto 0;
	width: 97%;
	padding-bottom: 10px;
}

.firstclass {
	background-color: #cafba2;
	border: 1px solid #a5e86f;
	margin: 5px auto;
	width: 97%;
	padding-bottom: 10px;
	margin-top: 10px;
}

.secondclass {
	background-color: #b2f47c;
	border: 1px solid #8ad74c;
	margin: 5px auto;
	width: 97%;
	padding-bottom: 10px;
	margin-top: 10px;
}

.thirdclass {
	background-color: #9de365;
	border: 1px solid #81bb51;
	margin: 5px auto;
	width: 97%;
	padding-bottom: 10px;
	margin-top: 10px;
}

.thirdclass a {
	clear: both;
}

/*create页面样式*/
.basicinfo {
	margin: 5px 0 0 5px;
}
.particularsBasicinfo {
	margin: 5px 0 0 5px;
	display:none;
}

.basicinfo .text_input {
	margin-top: -8px;
}

.basicinfo li {
	float: left;
	height: 22px;
	line-height: 22px;
}

.basicinfo .li_title {
	text-align: left;
}

.basicinfo ul {
	display: block;
	width: 170px;
	float: left;
	margin-left: 8px;
}
.tarea{
	clear:both;
	display:block;
	height:120px;}
.tarea .li_title{
	margin-bottom:5px;}
.basicinfo textarea{
	width:330px;
	height:60px;}

.detailinfo {
	margin: 5px 0 0 0;
	clear: both;
}

.detailinfo input {
	width: 135px;
}

.detailinfo	.attachment {
	width: 213px;
}

.detailinfo li {
	float: left;
	height: 22px;
	line-height: 22px;
	margin-bottom: 5px;
}

.detailinfo .li_title {
	margin-left: 12px;
	display: block;
	width: 73px;
	text-align: right;
}

/*status页面样式*/
.basicinfo .create_status {
	width: 390px;
	margin-right: 8px;
}

.create_status .text_input {
	width: 100%;
	margin-top: -3px;
}

.create_status textarea {
	height: 80px;
}

#details {
	margin: 0 10px;
}

#details ul li {
	float: left;
	display: block;
	text-align: center;
}

#details ul li a {
	color: #0000CC;
	margin-right: 5px;
}

#details ul li a:hover {
	text-decoration: underline;
}

#details ul {
	clear: both;
	height: 20px;
	line-height: 20px;
}

#details ul li {
	margin-right: 1px;
}

.details_tatle {
	border-bottom: 1px solid #7F7F7F;
	margin: 5px 0;
	background-color: #a0a0a0;
}

.details_tatle li {
	background-color: #c9c9c9;
}

.status_textarea {
	display: block;
	height: 115px;
}

.text_select {
	width: 400px;
}
.text_num {
	width: 40px;
}
/*相册列表浏览样式开始*/
#list_table_pic {
	margin: 0 10px;
	margin-bottom: 5px;
	height:465px;
	border-bottom: 1px solid #999999;
}
#list_table_pic li{
	width:185px;
	height:140px;
	text-align:center;
	float:left;
	margin-top: 10px;
	margin-left: 8px;
	overflow: hidden;
}
#list_table_pic li .showPicLink{
	display:block;
	height:120px;
	width:160px;
	overflow:hidden;
	border:1px solid #000000;
	background-color: #eee;
	margin-bottom: 5px;
}
.showPicTitle{
	width: 160px;
	color: #0099FF;
}
.showPicImg{
	max-width:160px;
	max-height:120px;
	margin-top: expression(this.height>=120?0:( 120 - this.height ) / 2);
}
html.showPicImg{
	width:expression(this.width>160&&this.width>this.height?160:auto);
	height:expression(this.height>120?120:auto);
}
/*相册列表浏览样式结束*/
/*相册浏览样式开始*/
#smallpic{
	width:540px;}
#smallpic li{
	width:130px;
	height:120px;
	text-align:center;
	float:left;}
#smallpic li .showPicLink{
	display:block;
	height:90px;
	width:120px;
	overflow:hidden;
	border:1px solid #000000;
	background-color: #eee;}
.showpic{
	max-width:120px;
	max-height:90px;
	margin-top:expression(this.height>=90?0:(90-this.height)/2);
}
html.showpic{
	width:expression(this.width>120&&this.width>this.height?120:auto);
	height:expression(this.height>90?90:auto);
}
#smallpic li a{
	display:block;
	margin-top:5px;
}
/*相册浏览样式结束*/

/*定义列表样式开始*/
#list_table {
	margin: 0 10px;
	clear: both;
	border-bottom: 1px solid #999999;
	margin-bottom: 10px;
	padding-bottom: 3px;
}

#list_table li {
	float: left;
	display: block;
	line-height: 20px;
	height: 20px;
	margin-right: 1px;
}

#list_table li a {
	color: #2887fb;
}

#list_table li a:hover {
	text-decoration: underline;
}

#list_table ul {
	clear: both;
	height: 20px;
	margin-top: 3px;
}

.list_save {
	background-color: #c9e3f7;
}

#list_table .list_tatle {
	width: 100%;
	background-color: #a0a0a0;
}


/*各列表项宽度*/
.list_tab_statusname {
	width: 450px;
}

.list_tab_group {
	width: 150px;
}

.list_tab_opration {
	width: 230px;
	display: block;
	text-align: center;
}

.list_tab_order {
	width: 40px;
}

.list_tab_sort {
	width: 300px;
}

/*列表表头格式*/
#list_table .list_tatle li {
	background-color: #c9c9c9;
	text-align: center;
}

/*指定各种列表项宽度*/
.list_tab_operate {
	width: 100px;
}  /*操作栏宽度*/
.list_tab_auditing {
	width: 100px;
}  /*审核栏宽度*/
.list_tab_sheetnumber {
	width: 130px;
}  /*单号栏*/
.list_tab_createid {
	width: 90px;
}  /*录入人栏*/
.list_tab_operatetime {
	width: 130px;
}  /*录入时间栏*/
.list_tab_status {
	width: 70px;
}  /*单证状态栏*/
.list_tab_formatdate {
	width: 100px;
}  /*日期态栏，yy-mm*/
.list_tab_customer {
	width: 120px;
}  /*付款客户栏*/
.list_tab_checkbox {
	width: 20px;
}  /*复选框栏*/
.list_tab_shippingspace {
	width: 80px;
}  /*发货区栏*/
.list_tab_materialnumber {
	width: 160px;
}  /*物料号码栏 contralno栏 FCR栏*/
.list_tab_batchnumber {
	width: 100px;
}  /*批次号码栏*/
.list_tab_productstatus {
	width: 80px;
}  /*产品状态栏*/
.list_tab_bincode {
	width: 100px;
}  /*所在储位栏*/
.list_tab_storequantity {
	width: 120px;
}  /*库存数量栏*/
.list_tab_availablequantity {
	width: 120px;
}  /*可用数量栏*/
.list_tab_customercode {
	width: 100px;
}  /*客户代码栏*/
.list_tab_shortname {
	width: 120px;
}  /*简称栏*/
.list_tab_chinesename {
	width: 200px;
}  /*中文名称栏*/
.list_tab_englishname {
	width: 200px;
}  /*英文名称栏*/
.list_tab_type {
	width: 100px;
}  /*分类栏*/
.list_tab_goodsname {
	width: 100px;
}  /*货物名称栏*/
.list_tab_weight {
	width: 100px;
}  /*重量数值栏*/
.list_tab_unit {
	width: 60px;
}  /*单位栏*/
.list_tab_volume {
	width: 100px;
}  /*体积数值栏*/
.list_tab_unitadmin {
	width: 150px;
}  /*单位信息管理内单位栏*/
.list_tab_goodsarea {
	width: 80px;
}  /*货区名称栏*/
.list_tab_shelfCode {
	width: 60px;
}  /*货架编号栏*/
.list_tab_layerNum {
	width: 30px;
}  /*层栏*/
.list_tab_usagerates {
	width: 70px;
}  /*使用率栏*/
.list_tab_userid {
	width: 130px;
}  /*用户ID栏*/
.list_tab_username {
	width: 130px;
}  /*用户名栏*/
.list_tab_email {
	width: 300px;
}  /*email栏*/
.list_tab_targatbin {
	width: 150px;
}  /*目标储位栏*/
.list_tab_referencenum {
	width: 150px;
}  /*参考单号栏*/
.list_tab_autocodename {
	width: 80px;
}  /*自动单号管理 单号名称宽度*/
.list_tab_autocodemark {
	width: 140px;
}  /*自动单号管理 单号标识*/
.list_tab_autocodetime {
	width: 140px;
}  /*自动单号管理 最后使用时间*/
.list_tab_autocodeformat {
	width: 300px;
}  /*自动单号管理 单号格式*/
.list_tab_bgcolor {
	background-color: #66CCFF
}

/*定义列表内容对齐格式*/
.li_left {
	display: block;
	text-align: left;
	padding-left: 5px;
}

.li_right {
	display: block;
	text-align: right;
	padding-right: 5px;
}

.li_center {
	display: block;
	text-align: center;
}

/*定义列表内容对齐格式*/
.li_left {
	display: block;
	text-align: left;
	padding-left: 5px;
}

.li_right {
	display: block;
	text-align: right;
	padding-right: 5px;
}

.li_center {
	display: block;
	text-align: center;
}

/*按钮样式*/
button {
	border: 0;
	cursor: pointer;
	font-weight: bold;
	padding: 0 20px 0 0;
	text-align: center;
	width: auto;
	overflow: visible;
	clear: both;
	margin-right: 20px;
}

button span {
	position: relative;
	display: block;
	white-space: nowrap;
	padding: 0 0 0 20px;
}

button.Btn {
	background: url(../images/btn_blue_right.gif) right no-repeat;
}

button.Btn span {
	height: 30px;
	line-height: 30px;
	background: url(../images/btn_blue_left.gif) left no-repeat;
	color: #fff;
}

button.Btn:hover {
	background: url(../images/btn_blue_right_hover.gif) right no-repeat;
}

button.Btn:hover span {
	background: url(../images/btn_blue_left_hover.gif) left no-repeat;
}

.btnlist {
	float: right;
}

.line {
	display: block;
	margin: 5px auto;
	width: 98%;
	height: 1px;
	border-bottom: 1px solid #CCCCCC;
}

/*emailset页面样式*/
#newaddress {
	height: 130px;
}

/*------email list-------*/ /*定义分页格式开始*/
#paging {
	float: right;
	margin-right: 1px;
}

#paging li {
	float: left;
	font-size: 90%;
	margin-right: 2px;
}

#paging a {
	border: solid 1px #9aafe5;
	margin-right: 2px;
}

#paging li a:hover {
	text-decoration: none;
}

#paging .previous-off,#paging .next-off {
	border: solid 1px #DEDEDE;
	color: #888888;
	display: block;
	float: left;
	font-weight: bold;
	margin-right: 2px;
	padding: 1px 2px;
}

#paging .next,#paging .previous {
	padding: 0px 2px;
}

#paging .next a,#paging .previous a {
	font-weight: bold;
}

#paging .active {
	background: #2e6ab1;
	color: #FFFFFF;
	font-weight: bold;
	display: block;
	float: left;
	padding: 3px 4px;
}

#paging .total {
	background: #2e6ab1;
	color: #FFFFFF;
	font-weight: bold;
	display: block;
	float: left;
	padding: 2px 4px;
}

#paging a:link,#paging a:visited {
	color: #0e509e;
	display: block;
	float: left;
	padding: 1px 4px;
}

#paging a:hover {
	border: solid 1px #0e509e
}

/*定义分页格式结束*/
.operatmsg {
	color: red;
}

.addedemails {
	background-color: #c9e3f7;
}

/*定义二级导航按钮样式开始*/
.buttonlist {
	margin: 5px 10px;
	clear: both;
}

.buttonlistRole {
	margin: 20px 15px;
	clear: both;
}

.buttonlist li img {
	margin: 0 2px -5px -3px;
}

.buttonlist li {
	display: inline;
}

.buttonlist li a {
	float: left;
	background: url(../images/buttonlistleft.gif) no-repeat left top;
	padding: 0 0 0 4px;
}

.buttonlist .button_bottom a {
	background: url(../images/buttonlistleft_bottom.gif) no-repeat left top;
}

.buttonlist .green_button a {
	background: url(../images/greenbuttonleft.gif) no-repeat left top;
}

.buttonlist li a span {
	display: block;
	background: url(../images/buttonlistright.gif) no-repeat right top;
	padding: 6px 15px 4px 10px;
	color: #FFFFFF;
}

.buttonlist .button_bottom a span {
	background: url(../images/buttonlistright_bottom.gif) no-repeat right
		top;
}

.buttonlist .green_button a span {
	background: url(../images/greenbuttonright.gif) no-repeat right top;
}

.buttonlist li a:hover {
	background-position: 0% -42px;
}

.buttonlist li a:hover span {
	background-position: 100% -42px;
}

/*定义二级导航按钮样式结束*/ /*各主页面内快捷查询框样式开始*/
#quicksearch {
	clear: both;
	border: 2px solid #b7db6a;
	height: 20px;
	padding: 10px 5px 12px;
	margin: 5px 10px;
}

#quicksearchsel {
	clear: both;
	border: 2px solid #2e6ab1;
	height: 20px;
	width: 540px;
	padding: 10px 5px 12px;
	margin: 5px 0 5px 5px;
}

#quicksearchsel li {
	float: left;
	line-height: 15px;
	margin-right: 8px;
}

#quicksearchsel li a {
	display: block;
	background: url(../images/search_button.gif) no-repeat;
	height: 22px;
	width: 60px;
}

#quicksearch li {
	float: left;
	line-height: 15px;
	margin-right: 8px;
}

#quicksearch li input{ 
	height: 13px; 
	width:110px;
}
#quicksearch li select{ 
	height: 19px; 
	width:110px;
}
#quicksearch li a {
	display: block;
	background: url(../images/search_button.gif) no-repeat;
	height: 22px;
	width: 60px;
}

#quicksearch li a:hover {
	background: url(../images/search_button_hover.gif) no-repeat;
}

.input_80{width: 80px;}

/*各主页面内快捷查询框样式结束*/ /*定义head、logo格式开始*/
#head {
	width: 100%;
	height: 40px;
	background: url(../images/head_bg.gif) repeat-x;
}

#logo {
	width: 230px;
	height: 40px;
	background: url(../images/logo.gif) no-repeat;
	float: left;
}

#head ul {
	float: right;
	margin: 10px 15px 0 0;
}

#head ul li {
	float: left;
	display: block;
	height: 20px;
	margin-right: 5px;
	text-align: right;
	line-height: 20px;
	color: #FFFFFF;
}

#head ul li.user {
	padding: 0 2px 0 25px;
	background: url(../images/user.png) left no-repeat;
}

#head ul li.changepsw {
	width: 70px;
	background: url(../images/psw.png) left no-repeat;
}

#head ul li.site {
	padding: 0 2px 0 25px;
	background: url(../images/site.png) left no-repeat;
}

#head ul li.help {
	width: 50px;
	background: url(../images/help.png) left no-repeat;
}

#head ul li.exit {
	width: 50px;
	background: url(../images/exit.png) left no-repeat;
}

#head ul li a {
	color: #FFFFFF;
}

#head ul li a:hover {
	text-decoration: underline;
}

/*定义head、logo格式结束*/ /*横向导航菜单样式开始*/
.menucontainer {
	background: #fff url(../images/bgOFF.gif) top left repeat-x;
}

#menulist {
	float: left;
	font-family: Helvetica, arial, verdana, sans-serif;
	width: 100%;
	position: relative;
	font-size: 12px;
	background: url(../images/bgOFF.gif) repeat-x;
	border-bottom: 3px solid #db0f0f;
}

#menulist ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
	float: left;
	position: relative;
}

#menulist ul li {
	float: left;
	position: relative;
	display: inline;
}

#menulist ul li a,#menulist ul li a:visited {
	float: left;
	display: block;
	text-decoration: none;
	color: #034895;
	height: 23px;
	padding: 0px 16px 0px 16px;
	line-height: 23px;
}

#menulist ul li ul {
	display: none;
}

#menulist ul li ul li img {
	margin-bottom: -3px;
	margin-right: 3px;
}

#menulist ul li:hover a {
	color: #000;
	background: url(../images/bgON.gif) top left repeat-x;
}

#menulist ul li:hover ul {
	display: block;
	position: absolute;
	top: 22px;
	margin-top: 1px;
	left: 0;
	width: 100%;
	border-top: 1px solid #fff;
}

#menulist ul li:hover ul li a {
	display: block;
	background: #E6E6E6;
	color: #034895;
	height: auto;
	line-height: 20px;
	padding: 2px 16px 2px 16px;
	width: 80px;
	border-bottom: 1px solid #fff;
}

#menulist ul li:hover ul li a:hover {
	background: #C9D2DF;
	color: #000;
}

/*横向导航菜单样式结束*/ /*主单页面样式*/
.filelist li {
	float: left;
	margin-right: 5px;
	line-height: 25px;
}

.main_attachment ul {
	float: left;
	margin-right: 10px;
}

.main_attachment {
	margin: 6px 0 0 15px;
}

.main_attachment .attachment {
	width: 227px;
}

/*主单页面样式结束*/
.hiddenuserform {
	display: none;
	clear: both;
}

/*多级号码tab样式*/
.num_tab{
	margin-left:10px;}
.num_tab li{
	float:left;
	margin-right:2px;
	background-color:#ccc;}
.num_tab li a{
	display:block;
	padding:3px 5px;}

.detail_btn{
	margin-left:10px;}

/*发送邮件页样式*/
.mailpagetitle{
	width:70px;
	text-align:right;
	display:block;
	float:left;
	line-height:22px;}
#mail_left{
	width:64%;
	float:left;
	padding-left:10px;
	margin:10px 0;}
.mailpageinput{
	width:470px;
	margin-bottom:5px;}
#mail_right{
	width:35%;
	margin:10px 0;}
#mail_right h3{
	margin-left:0;}
.mailtext{
	width:800px;}

/*定义foot格式*/
#foot{
	width:100%;
	height:25px;
	margin:0 auto;
	text-align:center;
	color:#CCCCCC;}

/*查询结果页面样式*/
#result_top{
	width:100%;
	height:50px;
	background-color:#ccc;}
#result_top span{
	display:block;
	font-size:200%;
	font-weight:bold;
	color:#9d1c20;
	margin:10px 0 0 20px;}
#result_main{
	background-color:#FFF;}
#result_main_left{
	width:230px;
	float:left;}
.search_input{
	margin:10px 0 0 10px;}
.search_input li{
	margin-bottom:5px;}
.search_input select{
	width:200px;}
.search_input .textinput{
	width:194px;}
#result_main_center{
	width:750px;
	float:left;
	margin-right:2px;}
#result_main_center h2{
	font-size:12px;
	font-weight:normal;
	border:none;
	width:100%;
	height:20px;
	line-height:20px;
	background-color:#eee;
	margin-top:5px;
	padding:0;
	text-indent:5px;}
#result_main_center ul{
	clear:both;}
#result_main_center .result_title li{
	background-color:#ccc;}
#result_main_center ul li{
	float:left;
	margin:1px 1px 0 0;
	height:20px;
	line-height:20px;
	text-indent:2px;}
#result_main_center ul .result_status_date{
	width:150px;}
#result_main_center ul .result_status_status{
	width:320px;}
#result_main_center ul .result_status_loc{
	width:70px;}
#result_main_center ul .result_status_remark{
	width:206px;}
#result_main_right{
	width:270px;
	margin-top:5px;}
#result_main_right li{
	height:20px;
	line-height:20px;
	text-indent:5px;}
#result_main_right h3{
	margin:0;
	padding:0;
	background-color:#eee;
	text-indent:5px;}
.result_right_title{
	background-color:#ccc;
	height:20px;
	line-height:20px;
	text-indent:5px;
	margin-top:1px;}
.result_right_halftitle{
	width:49.5%;
	float:left;
	margin:1px 1px 0 0;
	background-color:#ccc;}
.result_right_content{
	width:49.5%;
	float:left;
	margin-right:1px;}
#result_foot{
	text-align:center;
	width:100%;
	margin-top:5px;}
/*加载时显示加载中的样式*/
#loadBg{
	top:0px;
	left:0px;
	position:absolute;
	background:#245;
	filter:alpha(opacity=25);
}
#loadInfo{
	top:300px;
	position:absolute;
}

/*---- department css -----*/
.bintype{
	width:180px;
	height:100%;
	background-color:#F2F2F2;
	padding:10px 0px 0px 0px;
	margin-top:10px;
	float:left;
	margin-left:8px;
	min-height:485px;}
	
.bintype ul li{
	margin:5px 0 0 1px;}
.bintype ul li a:hover{
	text-decoration:underline;}
.bintype .link_button{
	margin-top:10px;
	margin-left:0px;
	padding-left:0px;
	width:170px;
	border-top:1px solid #000000;}
.bintype .depart{
	float:left;
	margin:1px 0px 0px 0px; 
	padding-left:0px;
	width:160px; }
.bintype .link_button li{
	float:left;
	margin:5px 5px 0 0;}
#goodslist{
	float:left;
	width:795px;
	margin:20px 10px 0 5px;}
#goodslist h6{
	width:98%;}
#goodslist #paging{
	clear:both;}
h6{
	font-weight:bold;
	padding:0 0 3px 10px;
	border-bottom:1px solid #000000;
	width:85%;
	margin:0 auto;}
.tree_input{
   height:12px;
   width:12px;
}


/*---- department css -----*/

/*---- employee css -----*/

.employee{ 
width:800px;
margin:20px 0px 25px 10px; 
}
.employee li{
list-style-type:none;
float:left;
width:110px;
margin-right:20px;
word-break:break-all;  
}
.employee li input{ 
	height:12px;
	width:110px;
}
.employee li select{
	height:19px;
	width:115px;
}

.employee_img{ 
width:800px; 
}
.employee_img li{
list-style-type:none;
float:left; 
margin-right:20px; 
}
.employee_img_real{ 
  width:100px;
  height:135px; 
}
.employee_img_real div{ 
  width:110px;
  height:140px;
  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=scale);  
}
#employee_address{  
margin-right:20px; 
width:370px;
}
#employee_address input{  
width:370px; 
} 

.education{ 
width:1000px;
margin:10px 0px 30px 10px; 
}
.education li{
list-style-type:none;
float:left;
width:110px;
margin-right:20px;
word-break:break-all;  
}
.education li input{ 
	height:12px;
	width:110px;
}


.education_basic{ 
width:1000px;
margin:10px 0px 10px 10px; 
}
.education_basic li{
list-style-type:none;
float:left;
width:150px;
margin-right:10px;
word-break:break-all;  
}

.education_title{ 
width:800px;
margin:10px 0px 0px 10px; 
}
.education_title li{
list-style-type:none;
float:left;
width:100px; 
} 

.education_list{ 
width:800px;
margin:0px 0px 3px 10px; 
}
.education_list li{
list-style-type:none;
float:left;
width:100px; 
}

#headpic_css{
 width:500px;
}
#headpic_css input{
 width:500px;
 height:19px;
}
 
.selitemback{ 
width:800px;
margin:0px 0px 3px 10px;
background-color:#c9e3f7 ;
}
.selitemback li{
list-style-type:none;
float:left;
width:100px; 
}
#preview {  
width:800px;
margin:10px 100px 10px 100px ;
background-color:#E4F2F3;  
}

#preview_basic {  
  width:800px;
  margin:1px 1px 0px 1px ;
}

#preview_basic ul{ 
  width:798px;  
  margin:0px 1px 1px 0px ;
}
#preview_basic ul li{ 
list-style-type:none;
float:left;
width:132px;
height:15px;
margin:0px 1px 0px 0px;  
background-color:#ffffff;
text-align:center; 
}
 
#preview_intervel{
padding:5px 0px 5px 0px ;
font-size:15px;
font-weight:bolder;
text-align:center; 
margin:0px 1px 1px 1px ;
background-color:#ffffff;
}
#preview_head{
  width:800px;
  margin:1px 1px 1px 1px ;
}
#preview_head_code{ 
list-style-type:none;
float:left;
width:393px;
height:20px;
margin-right:1px;
padding:3px 0px 0px 5px;
background-color:#ffffff;
text-align:left;  
font-weight:bolder;
}
#preview_head_date{ 
list-style-type:none;
float:left;
width:394px;
height:20px;
margin-right:1px;
padding:3px 0px 0px 5px;
background-color:#ffffff;
text-align:right;  
font-weight:bolder;
}


#preview_title{
  width:800px;
  margin:1px 1px 1px 1px ;
}
#preview_title ul li{ 
list-style-type:none; 
width:798px;
height:30px; 
background-color:#ffffff;
text-align:center;
font-size:21px;
font-weight:bolder;
}

#preview_education {  
  width:800px;
  margin:1px 1px 0px 1px ;
}
#preview_education ul {  
width:798px;
padding:0px 1px 1px 0px ; 
}
#preview_education ul li{ 
list-style-type:none;
float:left;
width:127px;
height:15px;
margin-right:1px;
padding:3px 0px 0px 5px;
background-color:#ffffff;
text-align:center; 
} 
 
#preview_family {  
  width:800px;
  margin:1px 1px 1px 1px ;
}
#preview_family ul {  
width:798px; 
margin:0px 0px 1px 0px ;
background-color:#ffffff;
}
#preview_family ul li{ 
list-style-type:none;
float:left;
width:156px;
height:15px; 
background-color:#ffffff;
border-left: 1px solid #E4F2F3 ;
text-align:center; 
}
#preview_return{
padding:5px 50px 5px 0px ;
font-size:15px; 
text-align:right; 
margin:0px 1px 1px 1px ;
background-color:#ffffff;
}
#preview_return ul li {
	width:75px ;
	height:18px;
	padding:2px 5px 0px 5px ;
    background-color:#D6FAFA;  
}

/*---- employee css -----*/
 
.list_width_code{width:80px;} 
.list_width_fullname{width:150px;}
.list_width_address{width:200px;} 
.list_width_enaddress{width:150px;} 
.list_width_homepaage{width:200px;}
.list_width_creator{width:80px;} 
.list_width_addDate{width:120px;}
#right{
float:left;
width:1000px;    
background-color:#FFFFFF; 
}
#addcom{ 
width:1083px;
height:500px;}
#addcom ul{
font-size:12px;
width:1000px;
height:30px;
margin:10px 0px 0px 10px;  }
#addcom ul li{
float:left; 
margin-right:30px;
list-style-type:none; 
word-break:break-all; width:150px;}

#addcom ul li th{
text-align:left;
font-weight:bold; }
#addcom ul li input{
height:12px;
padding:0px 0px 1px 0px; }

#addcom ul li select{
height:17px;
padding:0px 0px 1px 0px; }

#message{{
	font-weight:normal;
	color:#ff4800; 
	margin-left:50px;
	background-color:#fee9e9;
	border:1px solid #fcb2b2;
	padding:1px 3px 0px 3px;}
}
 







