@charset "utf-8";
.stream_code{width:80px;}
.stream_code1{width:480px;}
.stream_name{width:80px;}
.stream_prevName{width:80px;}
.stream_nextName{width:80px;}
.stream_streamLine{width:80px;}
.stream_valid{width:80px;}
.stream_rolesName{width:150px;}
#addcominfo_stream{
	width:812px;
	height:350px;
	background-color:#f1f1f1;
	padding-top:20px;
	padding-left:8px;
	margin-bottom:50px;
}
#addcominfo_stream ul{
	width:806px;
	padding:20px 2px 5px 2px;
}
#addcominfo_stream ul li{
	list-style-type:none;
	float:left;
	margin-right:3px;
}
#addcominfo_stream ul li span{  
	display:inline-block;
	width:74px;
	text-align:right;
}

#addcominfo_stream ul li select{   
	width:155px; 
	margin-left:-6px;
}

#mainpage_stream{
	width:820px;
	height:500px;
	margin:10px 0;
	position:relative;
}
#nouse{width:100px;} 

#outcharge{width:870px;}
#outcharge ul{width:870px;}
#outcharge ul li{  
	float:left;  
	margin-right:1px; 
	text-align:center;
} 
#outcharge .list_title{height:15px;margin-top:-5px;}   
.innercode{width:150px;}
.yundan{width:100px;} 
#containercharge{width:820px;height:175px;overflow:auto;margin-left:-8px;}  
.com_list_content_charge{width:100%;}
.com_list_content_charge:hover{background-color:#e5e5e5; cursor:hand;}
.com_list_content_charge li{ 
	float:left; 
	text-align:left;  
	padding-bottom:-5px;
}
.selwidth{width:155px;margin-left:-6px;}
.charge_agent{width:200px;}
#zhanwidth{width:30px;}
  
/* bank信息列表Css样式 */
.checkboxbank{width:20px;}
.bankname{width:120px;}
.totaldegree{width:80px;}
.avaiCredit{width:80px;}
.currency{width:40px;}
.rate{width:40px;}
.exposure{width:30px;}
.tototal{width:80px;}
.toavai{width:80px;}
.bankOperate{width:95px;}
.creditOperate{width:95px;}

/* 新定义的币种样式 */
.bankName{width:120px;}
.enName{width:60px;}
.chName{width:60px;}
.code{width:60px;}
.rate{width:70px;}
.creator{width:90px;}
.createTime{width:130px;}
.useOrder{width:60px;}
.operate{width:120px;}

/*TT信息列表样式表 */
.interNum{width:200px;}
.customer{width:140px;}
.amount{width:90px;}
.fee{width:90px;}
.endDate{width:100px;}
.judge{width:50px;}
.ttoperate{width:100px;}





	
	
	
