@charset "utf-8";
/*明细页边框  --------------------------------------------------------- */
/*角色管理*/
.content_box_border{
	height:501px;
	border:none;
	background-color:#f1f1f1;
	padding-top:12px;
}
.bintype{
	height:380px;
	width:635px;
	padding:13px 0px 20px 75px;
	border:1px solid #cecece;
	background-color:#fff;
	margin:4px 0px 10px 50px;
	overflow:auto;
}
#button_role{
	height:30px;
	padding-left:678px;
	bottom:8px;
}
#trend02{ padding-left:48px;}